a {
	text-decoration: none;
	color: rgb(18, 18, 19);
	font-weight: 520;
	font-size: 17px;
}

li {
	list-style-type: none;
}

.wrapper {
	width: 240px;
	padding: 20px;
	height: 1450px;
	border-right: 2px solid rgb(210, 211, 214);

	&__List {
		padding-top: 70px;
		padding-bottom: 400px;
	}

	//  padding-top: 50px;
	.hre {
		position: relative;

		&::before {
			content: '';
			background-image: url('../../Assets//iconcha/loggo.svg');
			position: absolute;
			width: 50px;
			height: 53px;
			z-index: 1;
			margin: 13px;
			background-repeat: no-repeat;
			// margin-top: 10px;
		}
	}

	&__item1 {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background-image: url('../../Assets/images/Vector.svg');
			width: 26px;
			height: 23px;
			z-index: 1;
			margin-left: -33.3px;
		}
	}
	&__item2 {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background-image: url('../../Assets/images/panjara.svg');
			width: 24px;
			height: 23px;
			z-index: 1;
			margin-left: -33px;
		}
	}
	&__item3 {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background-image: url('../../Assets/images/Vector\ \(1\).svg');
			width: 24px;
			height: 24px;
			z-index: 1;
			margin-left: -33px;
		}
	}
	&__item4 {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background-image: url('../../Assets/images/Vector\ \(2\).svg');
			width: 24px;
			height: 22px;
			z-index: 1;
			margin-left: -33px;
		}
	}
	&__item5 {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background-image: url('../../Assets/images/Vector\ \(3\).svg');
			width: 21px;
			height: 24px;
			z-index: 1;
			margin-left: -32px;
			padding-right: 2px;
			background-repeat: no-repeat;
		}
	}
	&__item6 {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background-image: url('../../Assets/images/Vector\ \(4\).svg');
			width: 24px;
			height: 24px;
			z-index: 1;
			margin-left: -33.2px;
		}
	}
	&__item7 {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background-image: url('../../Assets/images/Vector\ \(5\).svg');
			width: 21px;
			height: 24px;
			z-index: 1;
			margin-left: -33px;
			padding-right: 2px;
			background-repeat: no-repeat;
		}
	}
	&__item8 {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background-image: url('../../Assets/images/Vector\ \(6\).svg');
			width: 26px;
			height: 26px;
			z-index: 1;
			margin-left: -34px;
		}
	}

	&__items {
		padding-top: 30px;
	}

	&__User {
		margin-left: 27px;
	}

	.btn1 {
		width: 230px;
		height: 55px;
		background-color: #1d9bf0;
		border-radius: 27.5px;
		border: none;
		line-height: 24px;
		font-weight: bold;
		font-size: 18px;
		color: white;
		margin-left: -50px;
		margin-top: 30px;
		transition: all 1s ease;

		&:hover {
			background-color: #1d9bf0;
			opacity: 0.5;
			color: rgb(248, 245, 245);
			border: 0.5px solid rgb(184, 178, 178);
		}
	}

	&__UserSelf {
		display: flex;
		// margin-right: 50px;
	}

	&__User {
		display: flex;
		// justify-content: space-between;
	}

	&__pointt {
		width: 16px;
		height: 16px;
	}

	&__Picc {
		margin-right: 10px;
	}

	&__link {
		color: dimgray;
	}
}

.handleNavLink {
	font-weight: 600;
}
